spack:
  specs:
  - access-test-component @git.{{ ref }}
  packages:
    gcc:
      require:
      - '{{ gcc_compiler_ver }}'
    all:
      require:
      - '%access_gcc'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
