spack:
  specs:
  - datetime-fortran
  packages:
    c:
      require:
      - '{{ gcc_compiler }}'
    cxx:
      require:
      - '{{ gcc_compiler }}'
    fortran:
      require:
      - '{{ gcc_compiler }}'
    all:
      require:
      - 'target={{ target}}'
  concretizer:
    unify: false
  view: false
