spack:
  include:
  # Include configuration from this repository, with the environment variable defined in build-ci
  - path: $SPACK_MANIFEST_REPOSITORY_PATH/.github/build-ci/config
  specs:
  - access-test-component @git.{{ ref }} %%access_intel
  packages:
    python:
      require:
      - '@3.11.14'
  view: false
