spack:
  specs:
  - group: compiler
    specs:
    - intel-oneapi-compilers-classic@{{ intel_compiler_ver }}
  - group: components
    needs:
    - compiler
    specs:
    - access-test-component @git.{{ ref }}
  packages:
    python:
      require:
      - '@3.11.14'
    all:
      require:
      - '%access_intel'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
