spack:
  specs:
  - access-test-component@git.{{ ref }} %intel-oneapi-compilers@2025.2.0 target={{ target }}
  packages:
    c:
      require:
      - 'intel-oneapi-compilers@2025.2.0'
    cxx:
      require:
      - 'intel-oneapi-compilers@2025.2.0'
    fortran:
      require:
      - 'intel-oneapi-compilers@2025.2.0'
    all:
      require:
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
