name: Build
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  pre-ci:
    name: Pre-CI
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up matrix
        id: set-matrix
        # Find all relevant files under .github/build-ci/manifests
        # then output them as a JSON array (minus the last comma)
        run: |
          files=$(find .github/build-ci/manifests/ -iname '*.j2' -printf '"%p",')
          echo "matrix=[${files%,}]" >> $GITHUB_OUTPUT

  ci:
    name: CI
    needs: pre-ci
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        file: ${{ fromJson(needs.pre-ci.outputs.matrix) }}
    # Testing on github-hosted as the image is not yet updated on self-hosted runners
    uses: access-nri/build-ci/.github/workflows/ci-github-hosted.yml@spack-config-81-git-based-spack-packages-repo_TEST
    with:
      spack-manifest-path: ${{ matrix.file }}
      allow-ssh-into-spack-install: true  # If true, PR author must ssh into instance to complete job
      spack-manifest-data-path: .github/build-ci/data/standard.json
      spack-config-ref: access-spack-packages-as-git-repo
      builtin-spack-packages-ref: 8e33ef611d39211f80553a726c5cec8a3d3be4a5
      access-spack-packages-ref: 953cd6c325c5584d0772b0a1b754e8abd2c9911f
      spack-ref: v0.22.5 # Testing invalid spack ref for this version of the workflow
      container-image-version: :rocky-v1.0-test  # This is the new image that will be pushed
